<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-bluenet-dfu" version="0.0.3">

	<name>Bluenet DFU</name>
	<description>Upload bluenet code over DFU</description>
	<author>Dominik Egger</author>
	<keywords>bluenet,dfu</keywords>
	<license>LGPL v3+, Apache, or MIT, your choice</license>
	<js-module name="BluenetDfu" src="www/bluenetDfu.js">
		<clobbers target="window.bluenetDfu" />
	</js-module>
	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="BluenetDfuPlugin">
				<param name="android-package" value="nl.dobots.bluenetdfu.BluenetDfuPlugin" />
			</feature>
		</config-file>

		<source-file src="src/android/BluenetDfuPlugin.java" target-dir="src/nl/dobots/bluenetdfu" />
		<source-file src="src/android/DfuService.java" target-dir="src/nl/dobots/bluenetdfu" />
		<source-file src="src/android/NotificationActivity.java" target-dir="src/nl/dobots/bluenetdfu" />

		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.BLUETOOTH"/>
			<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
		</config-file>

		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<service android:name="nl.dobots.bluenetdfu.DfuService"></service>
		</config-file>

		<!-- Use DFU Library from nordic -->
		<framework src="src/android/LibraryProject" custom="true" />

	</platform>


</plugin>
